#home {
    margin-top: 75px;
    display: block;

    .cebu-city {
        max-width: 100%;
    }

    .caption {
        border-top: solid 5px #999999;
        border-left: solid 5px #999999;
        border-bottom: solid 5px #999999;
        h1 {
            font-family: "Figure things", Arial, Helvetica, sans-serif;
            font-size: 6em;
            margin: 20px;
        }

        p {
            margin: 20px;
            font-size: 2em;
        }
    }

    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: both;

    @media only screen and (min-width: 850px) {
        display: flex;
        flex: 1;

        .cebu-city {
            margin: 20px;
            max-width: 45%;
        }
        .caption {
            margin: 20px;
        }
    }
}
